<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :qq %><br />
    <%= f.number_field :qq %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :home_51 %><br />
    <%= f.check_box :home_51 %>
  </div>
  <div class="field">
    <%= f.label :home_101 %><br />
    <%= f.check_box :home_101 %>
  </div>
  <div class="field">
    <%= f.label :home_summer %><br />
    <%= f.check_box :home_summer %>
  </div>
  <div class="field">
    <%= f.label :exam_4 %><br />
    <%= f.check_box :exam_4 %>
  </div>
  <div class="field">
    <%= f.label :exam_6 %><br />
    <%= f.check_box :exam_6 %>
  </div>
  <div class="field">
    <%= f.label :exam_toefl %><br />
    <%= f.check_box :exam_toefl %>
  </div>
  <div class="field">
    <%= f.label :exam_qimo %><br />
    <%= f.check_box :exam_qimo %>
  </div>
  <div class="field">
    <%= f.label :guide %><br />
    <%= f.check_box :guide %>
  </div>
  <div class="field">
    <%= f.label :guide_vip %><br />
    <%= f.check_box :guide_vip %>
  </div>
  <div class="field">
    <%= f.label :logic %><br />
    <%= f.check_box :logic %>
  </div>
  <div class="field">
    <%= f.label :alumnus %><br />
    <%= f.check_box :alumnus %>
  </div>
  <div class="field">
    <%= f.label :finished %><br />
    <%= f.check_box :finished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
