<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @person.username %>
</p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Qq:</b>
  <%= @person.qq %>
</p>

<p>
  <b>State:</b>
  <%= @person.state %>
</p>

<p>
  <b>Home 51:</b>
  <%= @person.home_51 %>
</p>

<p>
  <b>Home 101:</b>
  <%= @person.home_101 %>
</p>

<p>
  <b>Home summer:</b>
  <%= @person.home_summer %>
</p>

<p>
  <b>Exam 4:</b>
  <%= @person.exam_4 %>
</p>

<p>
  <b>Exam 6:</b>
  <%= @person.exam_6 %>
</p>

<p>
  <b>Exam toefl:</b>
  <%= @person.exam_toefl %>
</p>

<p>
  <b>Exam qimo:</b>
  <%= @person.exam_qimo %>
</p>

<p>
  <b>Guide:</b>
  <%= @person.guide %>
</p>

<p>
  <b>Guide vip:</b>
  <%= @person.guide_vip %>
</p>

<p>
  <b>Logic:</b>
  <%= @person.logic %>
</p>

<p>
  <b>Alumnus:</b>
  <%= @person.alumnus %>
</p>

<p>
  <b>Finished:</b>
  <%= @person.finished %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
