<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Projector:</b>
  <%= @course.projector %>
</p>

<p>
  <b>Sound:</b>
  <%= @course.sound %>
</p>

<p>
  <b>Mic:</b>
  <%= @course.mic %>
</p>

<p>
  <b>Capacity:</b>
  <%= @course.capacity %>
</p>

<p>
  <b>Duration:</b>
  <%= @course.duration %>
</p>

<p>
  <b>Cycle:</b>
  <%= @course.cycle %>
</p>

<p>
  <b>Frequency:</b>
  <%= @course.frequency %>
</p>

<p>
  <b>Section size:</b>
  <%= @course.section_size %>
</p>

<p>
  <b>Kind:</b>
  <%= @course.kind %>
</p>

<p>
  <b>Join class:</b>
  <%= @course.join_class %>
</p>

<p>
  <b>Form:</b>
  <%= @course.form %>
</p>

<p>
  <b>Video makeup:</b>
  <%= @course.video_makeup %>
</p>

<p>
  <b>Make value:</b>
  <%= @course.make_value %>
</p>

<p>
  <b>Remark:</b>
  <%= @course.remark %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
